.about {
  background: rgb(10, 10, 10);
  color: white;
  width: 100vw;
  /* height: 100vh ; */
  font-family: "home";
  /* overflow: hidden; */
}
.about img {
  width: 600px;
  /* height: 80vh; */
  /* z-index: -7; */
}

.textImg {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "monts";
  width: 100vw;
  padding-left: 5vw;
  line-height: 29px;
  background: linear-gradient(
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 80%
  );
  animation-name: mover;
  /* position: fixed; */
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.intro {
  padding-top: 9%;
}
@font-face {
  font-family: "monts";
  src: url("../../Assets/fonts/MonoLisa-Light.ttf");
}

@font-face {
  font-family: "home";
  src: url(/src/Assets/fonts/MonoLisa-Black.ttf);
}

.skills {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: center;
  /* margin-top: 40px; */
  height: 100vh;
  /* z-index: -5; */
  /* position: inherit;
  top: 0; */
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.scroller {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 400px;
  padding-left: 40px;
  margin-top: 40px;
  overflow: auto;
  background-color: aliceblue;
  color: black;
  animation-name: fade;
  animation-duration: 1s;
}
.scroller div {
  padding-right: 400px;
}

@keyframes fade {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(100%);
  }
}
